_libgcc_mutex
_openmp_mutex
argcomplete
argon2-cffi
attrs
backcall
bleach
ca-certificates
certifi
cffi
cycler
debugpy
decorator
defusedxml
entrypoints
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
jedi
jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
markupsafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
numpy
openssl
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
prometheus-client
prompt-toolkit
ptyprocess
pycparser
pygments
pyparsing
pyrsistent
python
python-dateutil
pytz
pyzmq
readline
scipy
seaborn
send2trash
setuptools
six
sqlite
terminado
testpath
tk
tornado
tqdm
traitlets
typing-extensions
wcwidth
webencodings
wheel
xz
zipp
zlib
